# Backend
BACKEND_CONTAINER_NAME=todo-backend
BACKEND_PORT=8080
SERVER_PORT=8080

# PostgreSQL
POSTGRES_CONTAINER_NAME=todo-postgres
POSTGRES_DB=todo
POSTGRES_USER=todo
POSTGRES_PASSWORD=todo
POSTGRES_PORT=5432
POSTGRES_VOLUME_NAME=todo-postgres-data

# Kafka
KAFKA_CONTAINER_NAME=todo-kafka
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_EXTERNAL_HOST=localhost
KAFKA_PORT=9094
KAFKA_VOLUME_NAME=todo-kafka-data
TASK_EVENTS_TOPIC=task-events
TASK_EVENTS_GROUP_ID=todo-task-events

# Docker
DOCKER_NETWORK_NAME=todo-network
